<div>
	<p>Twitter Login</p>
	<p>authState: {{authState}}</p>
	<div class="nav-logged-out" ng-show="authState=='checking-login'">
		<a class="tca-btn-blue">Just checking your login status...</a>
	</div>
	<div class="nav-logged-out" ng-show="authState=='logged-out'">
		<a ng-href="/api/index.php/auth/oauth/twitter" ng-click="showLoginState()" target="_self" class="tca-btn-blue">Login with Twitter</a>
	</div>
	<div class="nav-logging-in" ng-show="authState=='logging-in'">
		<a class="tca-btn-blue">Logging in...</a>
	</div>
	<div class="nav-need-auth" ng-show="authState=='awaiting-auth'">
		<a class="tca-btn-blue">Waiting for authorization...</a>
	</div>
	<div class="nav-logged-in" ng-show="authState=='logged-in'">
		<a class="tca-btn-blue">Logged in successfully.</a>
	</div>
</div>
